{% extends "mampf/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>Post</h1>
    <pre><code>
curl -F value=89 {{ example_url }}
curl -F t=2024-06-02T20:52:07+02:00 -F value=43 {{ example_url }}
    </code></pre>
    <h1>Links</h1>
    <ol>
        {% for link in links %}
            <li><a href="{{ link.href }}">{{ link.name }}</a></li>
        {% endfor %}
    </ol>
{% endblock %}
